

{{#each posts }}
<div class="card">
    <div class="card-header">
      {{ title }}

        <span id="post-date">
            {{ format_date  createdAt }}
        </span>
    </div>

       
    <div class="card-body">
        <p>{{description }}</p>

    </div>


</div>
{{/each}}